{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}




  <div class="row">
    <div class="top-dashboard">
    <div>
      <h1 class="index-h1 mb-4">Let's get started</h1>
  
      <h3>RULES</h3>
    </div>
    <div>
      <hr>
          <ul>
          <li>There are 45 questions to answer. 15 from Javascript, CSS and HTML each. After answering each topic,click on the next subject then scroll up to answer. Submit after answering all.</li>
          <li>You have 30 minutes to submit all answers.</li>
          <li>Double-check your answers before submitting.</li>
          <li>Do not switch tabs or refresh page.</li>
          <li>Do not check for answers online while answering the questions (for your own good).</li>
          <li>15 questions are randomly selected from the database to be displayed each time you start a quiz</li>
          </ul>
    </div>
  </div>
   
  </div>
    <div class="row">
      <div class="lower-dashboard">
      <div class="col-sm">
        <div class="card my-3">
            <img class="card-img-top pt-2 pl-4" src="{{url_for('static',filename = 'images/js.png')}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">15 questions in javascript section, which would cover every important topic a beginner needs to know. This Section is 1/3 of the overall score.</p>
        </div>
      </div>    
    </div>
      <div class="col-sm">
        <div class="card my-3">
            <img class="card-img-top pt-2 pl-4" src="{{url_for('static',filename = 'images/css.png')}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">15 questions on Cascading Style Sheets which would challenge the rookie to learn more. It is 1/3 of the overall score. </p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card my-3">
            <img class="card-img-top pt-2 pl-4" src="{{url_for('static',filename = 'images/html.png')}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Answer 15 interesting, non-conventional HTML questions. It is 1/3 of the overall score.</p>
            </div>
        </div> <!--Card close-->
      </div> <!--Column close-->
    </div> <!--Row close-->
</div> <!--Container close-->

  <div class="dash-btn-div mt-3">
    <a class="start-btn" href="/questions"><button type="button" class="btn btn-primary py-3">START</button></a>
  </div>
</div>
  

<!-- <a href="/questions" class="mx-auto race button"><img src="{{url_for('static',filename = 'images/race.png')}}"></a> -->



{% endblock %}