{% extends "layout.html" %}

{% block title %}
    Documentation
{% endblock %}

{% block main %}

<h1>Documentation</h1>
<hr>
<p>
    Rook Hub is a project built by Aaron Omale, from Nigeria. As a final project for <a href="https://www.harvard.edu">Harvard's</a> Introduction to Computer Science course on <a href="https://www.edx.org">EdX platform.</a> I came about the idea for this site because as a rookie developer myself, I rarely see quiz sites to test my knowledge on what I've been studying. The questions on this site will challenge rookies to study harder, and also boost their confidence.
</p><br>
<h3>Add your own questions!</h3>
<hr>
Rook hub provides you the user with the users with an opportunity to add specific questions to the database through an in-built content management system (CMS). But for security reasons the route is not available to the public. To add questions, <a href="mailto: Aaronarphaxad@gmail.com">Send Email</a> to request for access or email your questions directly.



{% endblock %}
