{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}


 
<div class="rotate-div">
  <div><h1 class="index-h1 mx-auto">ARE YOU A ROOKIE DEVELOPER?</h1><br>
    <h2>Test your knowledge on</h2></div>

  <!-- Rotating span -->
  <span id="js-rotating" class="py-4">
    <p class="rotate-text">Javascript </p>, 
    <p class="rotate-text">CSS </p>, 
    <p class="rotate-text">HTML </p>
  </span>
  <br>
  
<!-- Js, css, and html icons -->

  <img class="img-rotate" src="{{url_for('static',filename = 'images/js.png')}}">
  <img class="img-rotate" src="{{url_for('static',filename = 'images/css.png')}}">
  <img class="img-rotate" src="{{url_for('static',filename = 'images/html.png')}}">

  <br>


  <a class="get-started"  href="/register" >
  <button type="button" class="cta-btn btn btn-dark mx-auto my-5 p-4">GET STARTED</button>
  </a>
  </div>
</div>


{% endblock %}