{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}

<div class="d-flex justify-content-center">
  <h1 class="lead-h1">Leaderboard</h1><br>
</div>

<table class="styled-table" style="width:90%">
    <tr>
      <th class="th">USERNAME</th>
      <th class="th">SCORE</th>
    </tr>
    {% for leader in leaders %}
    <tr>
      <td>{{leader['username']}}</td>
      <td>{{leader['score']}}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="d-flex justify-content-center">
    <a href="{{url_for('questions')}}">Take another Quiz</a>
</div>

{% endblock %}