{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}


<p><strong>{{questions.topic}}</strong></p>
{% for question in questions['data'] %}
    <form class="formElem">
        <p>{{loop.index}}. {{question['question']}} </p> 
        <input type="radio" name='option' value={{value+1}}> {{question['options']['a']}} <br>
        <input type="radio" name='option' value={{value+2}}> {{question['options']['b']}} <br>
        <input type="radio" name='option' value={{value+3}}> {{question['options']['c']}} <br>
        <input type="radio" name='option' value={{value+4}}> {{question['options']['d']}} <br>
        <br>
    </form>
{% endfor %}
    <button class="submitButton" type="submit">Submit</button>



    
    <script src="{{ url_for('static', filename='js/submit.js') }}"></script>
{% endblock %}