{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<!-- Jinja For loop for flashed messagees -->
{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-{{category}}">
            {{ message|capitalize }}
         </div>
      {%- endfor %}
      
<!-- FORM -->
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"><br>
            <input class="form-control" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email">
        </div>
        {{ recaptcha }} <br/>
        <div class="d-flex justify-content-start"><em class="recaptcha">Disable "block pop ups" from safari settings, if you use an iOS device.</em></div>
        <button class="btn btn-primary d-flex justify-content-center" type="submit">Register</button>
    </form>
{% endblock %}